exer-xml/livros/livros.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="livros">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="livro" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="titulo" type="xs:string" />
							<xs:element name="autor" type="xs:string" />
							<xs:element name="genero" type="xs:string" />
							<xs:element name="preco" type="xs:decimal" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>


	</xs:element>

</xs:schema>
